i.ic { display: inline-block; }
i.icon-1{
	background-image: url('../images/ic1.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 23px;
	height: 24px;
	margin-right: 8px;
}
i.icon-2{
	background-image: url('../images/ic2.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 20px;
	height: 21px;
	margin-right: 8px;
}
i.icon-3{
	background-image: url('../images/ic3.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 17px;
	height: 23px;
	margin-right: 8px;
}
i.icon-4{
	background-image: url('../images/ic4.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 18px;
	height: 19px;
	margin-right: 8px;
}
i.icon-5{
	background-image: url('../images/ic5.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 20px;
	height: 20px;
	margin-right: 8px;
}
i.icon-6{
	background-image: url('../images/ic6.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 51px;
	height: 51px;
	position: relative;
	top: $ellipse-height / 5;
}
i.icon-7{
	background-image: url('../images/ic7.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 55px;
	height: 69px;
	position: relative;
	top: $ellipse-height / 10;
}
i.icon-8{
	background-image: url('../images/ic8.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 68px;
	height: 39px;
	position: relative;
	top: $ellipse-height / 5;
}
i.icon-9{
	background-image: url('../images/ic9.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 50px;
	height: 57px;
	position: relative;
	top: $ellipse-height / 6;
}
i.promo-label{
	background-image: url('../images/promo-icon.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 67px;
	height: 40px;
	position: absolute;
	top: rem-calc(10);
	left: -15px;
	z-index: 2;
}
i.item-devider{
	background-image: url('../images/modern-devider.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 130px;
	height: 10px;
}
i.icon-10 {
	background-image: url('../images/ic10.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 22px;
	height: 24px;
	position: relative;
	top: 6;
}
i.icon-11 {
	background-image: url('../images/ic11.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 18px;
	height: 25px;
	position: relative;
	top: 6;
}
i.icon-12 {
	background-image: url('../images/ic12.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 21px;
	height: 19px;
	position: relative;
	top: 6;
}
i.icon-13 {
	background-image: url('../images/ic13.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 20px;
	height: 21px;
	position: relative;
	top: 6;
}
i.facebook {
	background-image: url('../images/fb-icon.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 220px;
	height: 35px;
}
i.google {
	background-image: url('../images/gp-icon.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 220px;
	height: 34px;
}
i.twitter {
	background-image: url('../images/tw-icon.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 220px;
	height: 34px;
}
i.linkedin {
	background-image: url('../images/in-icon.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 221px;
	height: 35px;
}
i.icon-14 {
	background-image: url('../images/ic14.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 53px;
	height: 33px;
}
i.icon-15 {
	background-image: url('../images/ic15.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 53px;
	height: 33px;
}
i.icon-16 {
	background-image: url('../images/ic16.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 53px;
	height: 33px;
}
i.icon-17 {
	background-image: url('../images/ic17.png');
	background-repeat: no-repeat;
	background-color: transparent;
	width: 52px;
	height: 33px;
}